<div class="container">
    <div class="header">
        <div class="nav">
            <img src="assets/images/tirage.jpg">
        </div>
    </div>
    <div class="trait"><hr></div>
    <div class="container1">
        <form action="/detailslistes">
            <div class="row">
              <div class="col-25">
                <label for="ldtirage">Libellé du tirage :</label>
              </div>
              <div class="col-75">
                <input type="text" id="ltirage" name="libelletirage" required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="natire">Nombre à tirer :</label>
              </div>
              <div class="col-75">
                <input type="text" id="ntire" name="nombretire" required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="selection">Selectionnez une liste :</label>
              </div>
              <div class="col-75">
                <select id="selection" name="selection">
                  <option value="liste1">Liste 1</option>
                  <option value="liste2">Liste 2</option>
                  <option value="liste3">Liste 3</option>
                </select>
              </div>
            </div>
            <div class="row">
              <p class="ou">OU</p>
            </div>
            <div class="row">
                <input type="file" id="lliste" name="libelleliste">
            </div>
            <div class="row">
              <div class="col-25">
                <label for="ldliste">Libellé de la liste :</label>
              </div>
              <div class="col-75">
                <input type="text" id="lliste" name="libelleliste">
              </div>
            </div>
            <br>
            <div class="row">
              <input type="submit" value="Effectuez le tirage">
            </div>
            </form>
    </div>
    

</div>

