<div class="container">
    <div class="header">
        <div class="nav">
            <img src="assets/images/tirage.jpg">
        </div>
    </div>
    <div class="trait"><hr></div>
    <div class="container1">
        <form action="/detailslistes">
            <div class="row">
              <div class="col-25">
                <label for="ldtirage">Libellé du tirage :</label>
              </div>
              <div class="col-75">
                <input type="text" id="ltirage" name="libelle" [(ngModel)]="libelle" required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="natire">Nombre à tirer :</label>
              </div>
              <div class="col-75">
                <input type="text" id="ntire" name="nombre" [(ngModel)]="nombre" required>
              </div>
            </div>
            <div class="row">
              <div class="col-25">
                <label for="libelleListe">Selectionnez une liste :</label>
              </div>
              <div class="col-75">
                 <select id="libelleListe" name="libelleListe" [(ngModel)]="libelleListe">
                  <option style="background: red;">Listes</option>
                  <option  *ngFor="let ti of tirage" >{{ti[2]}}</option>
                </select> 
                <a class="btn btn-outline-success" id="bt" data-bs-toggle="modal"
                        data-bs-target="#AddEtudiant">Importer le fichier</a>
                <!-- <input type="text" name="libelleListe" [(ngModel)]="libelleListe" id="libelleListe"> -->
              </div>
            </div>
            <div class="Row">
              <button type="submit" data-bs-toggle="modal" data-bs-target="#Tirage" class="effeTirage" (click)="PostTirage()">Effectuez le tirage</button>
              
            </div>
            </form>
    </div>
</div>


<div class="modal fade" id="AddEtudiant">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="card border-0 shadow p-3">
                    <form [formGroup]="formmodule">
                        <div class="row mb-3">
                            <div class="col-4"> <label for="Listelibelle" class="form-label">Libellé de la liste </label>
                            </div>
                            <div class="col-8">
                                <input required type="text" id="Listelibelle" class="form-control" name="libelle" formControlName="libelle" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-8">
                                <input type="file" class="text-nowrap text-truncate file" formControlName="file" (change)="fileChange($event)" required>
                            </div>

                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button (click)="importerliste()" type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            data-bs-target="#Importer" data-bs-dismiss="modal" style="width: 200px;"><i
                                    class="bi bi-upload"></i>
                                Importer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Tirage">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-body">
              <div class="card border-0 shadow p-3">
              <p>Tirage effectué avec succés</p>
              </div>

          </div>
      </div>
  </div>
</div>


<div class="modal fade" id="Importer">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-body">
              <div class="card border-0 shadow p-3">
              <p>Fichier importé avec succés</p>
              </div>

          </div>
      </div>
  </div>
</div>


