<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * debut Le dashboard qui est commun à toutes les pages * * * * * * * * * * * -->
<body>
  <div class="side-menu">
      <div class="brand-name">
          <img src="assets/images/logo.png">
      </div>
      <div class="trait"><hr></div>
      <ul>
          <a class="btn" style="width: 270px;"><li routerLink="/accueil"
              routerLinkActive="active">Accueil</li></a>
          <a class="btn" style="width: 270px;"><li  routerLink="/tirage"
              routerLinkActive="active">Tirage</li></a>
      </ul>
  </div>
  <!-- * * * * * * * debut router qui permet d'appeller toutes les pages * * * * * * * * -->
  <router-outlet></router-outlet>
  <!-- * * * * * * * fin router qui permet d'appeller toutes les pages * * * * * * * * -->
</body>
<!-- * * * * * * * * * * * fin Le dashboard qui est commun à toutes les pages * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
