<div class="container">
    <div class="header">
        <div class="nav">
            <img src="assets/images/postulanttire.png">
        </div>
    </div>
    <div class="trait"><hr></div>
    <div class="content">
        <div class="content-1">
            <div class="recent-payments">
                <table id="entete">
                    <tr>
                        <th>N°</th>
                        <th>Libellé</th>
                        <th>Date</th>
                        <th>N° Postulants Tirés</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>{{tirage.idTirage}}</td>
                        <td>{{tirage.libelle}}</td>
                        <td>{{tirage.dateTirage | date:"dd/MM/yyyy"}}</td>
                        <td>{{tirage.nombrePostTire}}</td>
                        <td><a  (click)="back()" class="btn">Retour</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>La liste des postulants tirés :</h2>
                    <div class="row">
                        <input type="text" name="" class="search" [(ngModel)]="searchText" placeholder="Rechercher">
                        
                    </div>
                </div>
                <table id="entete">
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Numéro</th>
                        <th>E-mail</th>
                    </tr>
                    <tr *ngFor="let postulanttire of postulanttires | filter:searchText | paginate:{itemsPerPage :5, currentPage:p}; let id = index">
                        <td>{{postulanttire[2]}}</td>
                        <td>{{postulanttire[3]}}</td>
                        <td>{{postulanttire[5]}}</td>
                        <td>{{postulanttire[4]}}</td>
                        <td>{{postulanttire[1]}}</td>
                    </tr>
                    <!-- <tr>
                        <td>2</td>
                        <td>DIARRA</td>
                        <td>Tiècoura</td>
                        <td>70804808</td>
                        <td>tiec@gmail.com</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>DIARRA</td>
                        <td>Tiècoura</td>
                        <td>70804808</td>
                        <td>tiec@gmail.com</td>
                    </tr> -->
                </table>
                <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
            </div>
        </div>
    </div>
</div>