<div class="container">
    <div class="header">
        <div class="nav">
            <img src="assets/images/postulanttire.png">
        </div>
    </div>
    <div class="trait"><hr></div>
    <div class="content">
        <div class="content-1">
            <div class="recent-payments">
                <table id="entete">
                    <tr>
                        <th>N°</th>
                        <th>Libellé</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a  routerLink="/detailslistes" routerLinkActive="active" class="btn">Retour</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>La liste des postulants tirés :</h2>
                </div>
                <table id="entete">
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Numéro</th>
                        <th>E-mail</th>
                    </tr>
                    <tr *ngFor="let postulanttire of postulanttires">
                        <td>{{postulanttire.idPostulant}}</td>
                        <td>{{postulanttire.nomPostulant}}</td>
                        <td>{{postulanttire.prenomPostulant}}</td>
                        <td>{{postulanttire.numeroPostulant}}</td>
                        <td>{{postulanttire.emailPostulant}}</td>
                    </tr>
                    <!-- <tr>
                        <td>2</td>
                        <td>DIARRA</td>
                        <td>Tiècoura</td>
                        <td>70804808</td>
                        <td>tiec@gmail.com</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>DIARRA</td>
                        <td>Tiècoura</td>
                        <td>70804808</td>
                        <td>tiec@gmail.com</td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
</div>