<div class="container">
    <div class="header">
        <div class="nav">
            <img src="assets/images/detailslistes.png">
        </div>
    </div>
    <div class="trait"><hr></div>
    <div class="content">
        <div class="content-1">
            <div class="recent-payments">
                <table id="entete">
                    <tr>
                        <th>N°</th>
                        <th>Libellé</th>
                        <th>Date</th>
                        <th>Nombre Tirage</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Liste 1</td>
                        <td>15-09-2022</td>
                        <td>3</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="content-2">
            <div class="recent-payments">
                <div class="title">
                    <h2>Les tirages effectués sur la liste :</h2>
                </div>
                <table id="entete">
                    <tr>
                        <th>N°</th>
                        <th>Libellé</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Tirage 1</td>
                        <td>15-09-2022</td>
                        <td><a routerLink="/detailtirage" routerLinkActive="active" class="btn">Savoir plus</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Tirage 2</td>
                        <td>15-09-2022</td>
                        <td><a routerLink="/detailtirage" routerLinkActive="active" class="btn">Savoir plus</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Tirage 3</td>
                        <td>15-09-2022</td>
                        <td><a routerLink="/detailtirage" routerLinkActive="active" class="btn">Savoir plus</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
</div>