<div class="container">
    <div class="header">
        <div class="nav">
            <h1>TABLEAU DE BORD</h1>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="box">
                    <h1>Listes tirées</h1>
                    <h3>12</h3>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>Tirages effectués</h1>
                    <h3>20</h3>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>Listes non tirées</h1>
                    <h3>5</h3>
                </div>
            </div>
        </div>
        <div class="trait"><hr></div>
        <div class="content-2">
            <div class="recent-payments">
                <div class="cards">
                    <a routerLink="/detailslistes" routerLinkActive="active">
                        <div class="card">
                            <div class="box">
                                <h1>Liste 1</h1>
                                <h3>3 Tirages</h3>
                            </div>
                        </div>
                    </a>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 2</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 3</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 4</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 4</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="box">
                            <h1>Liste 1</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 2</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        
                            <div class="box">
                                <h1>Liste 3</h1>
                                <h3>3 Tirages</h3>
                            </div>
                        
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 4</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 4</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="box">
                            <h1>Liste 1</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 2</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 3</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 4</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <h1>Liste 4</h1>
                            <h3>3 Tirages</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="new-students"></div>-->
        </div>
        <div class="recent-payments1">
            <div class="bouton">
                <!-- <button>Importer une liste</button>
                <button>Nouveau tirage</button> -->
                <ul>
                    <a routerLink="/accueil"
                        routerLinkActive="active" class="in">Importer le fichier</a>
                    <a routerLink="/tirage"
                        routerLinkActive="active">Nouveau tirage</a>
                </ul>
            </div>
        </div>
        
    </div>
</div>